.footer-wall {
  background-color: $primary;
  min-height: 386px;
  text-align: center;
  color: $white;
  padding: 50px;

  .social-icons {
    text-align: center;
    color: $primary;
    margin-bottom: 40px;

    .circle {
      background-color: $white;
    }
  }
  .logo {
    margin-bottom: 40px;
  }
  .license {
    .license-img {
      margin-bottom: 20px;
    }
  }
}